$primary: purple;
$secondary: plum;

$black: #000000;
$white: #ffffff;
$grey: #e0e0e0;

$colours: (
    "primary": $primary,
    "secondary": $secondary,
    "black": $black,
    "white": $white,
    "grey": $grey,
);
