.container {
    width: 100%;

    @include margins--auto;

    @include min-screen("small") {
        max-width: 640px;
    }

    @include min-screen("medium") {
        max-width: 768px;
    }

    @include min-screen("large") {
        max-width: 1024px;
    }

    @include min-screen("x-large") {
        max-width: 1280px;
    }
}
