.section {
    padding: 3rem 1.25rem;

    &__two-halves {
        // usage:
        // <section class="section">
        //     <div class="container">
        //         <h1 class="section__title">TITLE GOES HERE</h1>

        //         <div class="section__two-halves">
        //             <div class="section__half place-items-center">
        //                 <img class="section__image section__image--rounded" src="/images/IMAGE.JPG" alt="">
        //             </div>
        //
        //             <div class="section__half">
        //                 <p>TEXT GOES HERE</p>
        //             </div>
        //         </div>
        //     </div>
        // </section>
        display: flex;
        flex-direction: column;
    }

    &__half {
        & + .section__half {
            margin-top: 1rem;
        }
    }

    &__title {
        // section__title
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__subtitle {
        // section__subtitle
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    &__title + &__subtitle {
        // section__title <followed by> section__subtitle
        margin-top: -1.5rem;
    }

    &__text {
        // section__text
        font-size: 1.1rem;
    }

    &__text + &__text {
        // section__text <followed by> section__text
        margin: 1.5rem 0;
    }

    &__image {
        // section__image
        align-self: center;

        &--rounded {
            border-radius: 50%;
        }
    }

    &__list {
        list-style: none;
        margin-left: 3rem;

        li {
            margin-top: 1rem;
        }

        li::before {
            content: "\2022";
            color: $yellow;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1rem;
        }
    }
}

@include respond-to("large") {
    .section {
        &__two-halves {
            flex-direction: row;
            align-items: center;
        }

        &__half {
            width: 50%;

            & + .section__half {
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }
}
